@import "../../sass/variables";

.delete {
  padding-top: 58px;
}

.delete__wrapper {
  min-height: calc(100vh - 154px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.delete__item {
  margin-bottom: 20px;
}

.delete__header {
  font-family: $default-font;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
}

.delete__sub-list {
  list-style: none;
  padding-left: 25px;
}

.delete__sub-item {
  margin-bottom: 10px;
  min-width: 40vw;
  display: flex;
  justify-content: space-between;
}

.delete__sub-header {
  margin: 0;
  font-size: 16px;
  font-family: $default-font;
  font-weight: normal;
}

.delete__btn {
  border: none;
  background-color: transparent;
  color: $error;
  text-transform: lowercase;
}

